 <%- include ("header") -%>

 <h1>This is the about page.</h1>

 <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
 <p>ZYXWVUTSRQPONMLKJIHGFEDCBA</p>
 <p>abcdefghijklmnopqrstuvwxyz</p>
 <p>zyxwvutsrqponmlkjihgfedcba</p>
 
 <%- include ("footer") -%>